<!DOCTYPE html>
<html>
<body>

<h2>R1</h2>
<form method="post">
<h3>Login Credentials for R1</h3>
    <label for="user_R1">Enter UserName: </label>
    <input type="text" name="user"  required>
    <br>
    <label for="password_R1">Enter Password: </label>
    <input type="password" name="password"  required>
    <br>
<h3>OSPF Information for R1</h3>
    <label for="processID_R1">OSPF Process ID: </label>
    <input type="text" name="processID"  required>
    <br>
    <label for="areaID_R1">OSPF Area ID: </label>
    <input type="text" name="areaID"  required>
    <br>
    <label for="loopbackIP_R1">Loopback IP: </label>
    <input type="text" name="loopbackIP"  required>
    <br>
    <button type="submit" name="router" value="R1">submit</button>
</form>
<hr>
<h2>R2</h2>
<form method="post">
<h3>Login Credentials for R2</h3>
    <label for="user_R2">Enter UserName: </label>
    <input type="text" name="user"  required>
    <br>
    <label for="password_R2">Enter Password: </label>
    <input type="password" name="password"  required>
    <br>
<h3>OSPF Information for R2</h3>
    <label for="processID_R2">OSPF Process ID: </label>
    <input type="text" name="processID"  required>
    <br>
    <label for="areaID_R2L">OSPF Area ID (Left): </label>
    <input type="text" name="areaIDL"  required>
    <br>
    <label for="areaID_R2R">OSPF Area ID (Right): </label>
    <input type="text" name="areaIDR"  required>
    <br>
    <label for="loopbackIP_R2">Loopback IP: </label>
    <input type="text" name="loopbackIP"  required>
    <br>
    <button type="submit" name="router" value="R2">submit</button>
</form>
<hr>
<h2>R3</h2>
<form method="post">
<h3>Login Credentials for R3</h3>
    <label for="user_R3">Enter UserName: </label>
    <input type="text" name="user"  required>
    <br>
    <label for="password_R3">Enter Password: </label>
    <input type="password" name="password"  required>
    <br>
<h3>OSPF Information for R3</h3>
    <label for="processID_R3">OSPF Process ID: </label>
    <input type="text" name="processID"  required>
    <br>
    <label for="areaID_R3">OSPF Area ID: </label>
    <input type="text" name="areaID"  required>
    <br>
    <label for="loopbackIP_R3">Loopback IP: </label>
    <input type="text" name="loopbackIP"  required>
    <br>
    <button type="submit" name="router" value="R3">submit</button>
</form>
<hr>
<h2>R4</h2>
<form method="post">
<h3>Login Credentials for R4</h3>
    <label for="user_R4">Enter UserName: </label>
    <input type="text" name="user"  required>
    <br>
    <label for="password_R4">Enter Password: </label>
    <input type="password" name="password"  required>
    <br>
<h3>OSPF Information for R4</h3>
    <label for="processID_R4">OSPF Process ID: </label>
    <input type="text" name="processID"  required>
    <br>
    <label for="areaID_R4L">OSPF Area ID (Left): </label>
    <input type="text" name="areaIDL"  required>
    <br>
    <label for="areaID_R4R">OSPF Area ID (Right): </label>
    <input type="text" name="areaIDR"  required>
    <br>
    <label for="loopbackIP_R4">Loopback IP: </label>
    <input type="text" name="loopbackIP"  required>
    <br>
    <button type="submit" name="router" value="R4">submit</button>
</form>



</body>
</html>
